<launch>
    <!-- Launch the simulation, GUI control and the transformations server -->
    <include file="$(find robot_kinematics)/launch/simulation_only.launch"/>
    <include file="$(find open_manipulator_control_gui)/launch/open_manipulator_control_gui.launch"/>
    <node pkg="robot_kinematics" type="inverse_kinematics_srv.py" name="inverse_kinematics_srv" output="screen" />
    <node pkg="robot_kinematics" type="forward_kinematics_srv.py" name="forward_kinematics_srv" output="screen" />
</launch>
