apt-utils
bash-completion
build-essential
curl
debian-archive-keyring
debian-keyring
gdb
git
lsb-release
mercurial
openssh-server
python3
python3-pip
python3-setuptools
software-properties-common
sudo
tmux
python3-rosdep
python3-vcstool
ros-noetic-ros-controllers
ros-noetic-gazebo*
ros-noetic-moveit*
ros-noetic-industrial-core
ros-noetic-dynamixel-sdk
ros-noetic-dynamixel-workbench*
ros-noetic-robotis-manipulator
