<launch>
    <!-- Launch the simulation and the transformations server -->
    <include file="$(find openmanipulator_transformations)/launch/simulation_only.launch"/>
    <node pkg="openmanipulator_transformations" type="transformation_service.py" name="transformation_service" output="screen" />
</launch>
